<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
-       <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="careersinfo.css" type="text/css">
        <title><%=@career%></title>
    </head>

    <body>
        <header id="header">
            <a href="/Main" title="Ir a página inicial" style="text-decoration:none">Menu principal</a>
            <a href="/careers" title="Ir a página inicial" style="text-decoration:none">Menu carreras</a>
        </header>
    <div class="info">
        <% sites = {
            "Economia" => {"img" => "https://agriculturers.com/wp-content/uploads/2020/04/Agronomia-llama-a-producir-alimentos-en-casa-1000x500.jpg", "text" => "El Licenciado en Economía es un profesional comprometido éticamente con la comunidad en la que está inmerso contando con una sólida formación teórica, analítica y experimental, lo que le permite la medición, modelización y comprensión de los fenómenos económicos y sociales. Acciones que desarrollará desde una perspectiva crítica, considerando el impacto social, ambiental y económico que potencialmente tiene su desempeño profesional." ,"page" => "https://www.eco.unrc.edu.ar/seccion/grado/plan-estudios-le/"},
            "Agronomia" => {"img" => "https://agriculturers.com/wp-content/uploads/2020/04/Agronomia-llama-a-producir-alimentos-en-casa-1000x500.jpg" , "text" => "Ingeniero Agrónomo es la carrera en la que se forman profesionistas con la capacidad de generar y eficientar el uso de tecnologías en la producción de alimentos.", "page" => "https://www.unrc.edu.ar/unrc/carreras/ayv_ingenieria_agronomica.htm"},
            "Arquitectura" => {"img" => "https://encolombia.com/wp-content/uploads/2012/12/Carrera-Arquitectura-Educacion.jpg" , "text" => "La Carrera de Arquitectura adopta como punto de partida el Perfil establecido por la normativa nacional, que define las competencias de base que deben poseer ineludiblemente los egresados al finalizar su paso por la carrera de grado.", "page" => "https://um.edu.ar/carreras/arquitectura-y-urbanismo/"},
            "Computacion" => {"img" => "https://www.itsitio.com/wp-content/uploads/2019/10/5d9e0475cef912c94360276a-780x405.jpg" , "text" => "La carrera en Ciencias de la Computación te permitirá tener un conocimiento amplio de las nuevas tecnologías de la información, para resolver problemas de control y automatización computacional." , "page" => "https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=BatVf5iHwU0Fx5G7YNW8kNLQ%2BhOdQH4W7AWg7BMXHW8%3D"}
        }%>

        <h1><%=@career%></h1>
        <img src=<%=sites[@career]["img"]%>>
        <p> <%=sites[@career]["text"]%> </p>
        <a href=<%=sites[@career]["page"]%> target="_blank"> Mas info</a>
    </div>

    </body>
</html>
