<!DOCTYPE html>
<html>
    <head>
        <title>Test vocacional</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">      
        <link href = "questions.css" rel = "stylesheet" type ="text/css">
    </head>

    <body>
        <header id="header">
            <a href="/Main" title="Ir a página inicial" style="text-decoration:none">Main menu</a>
        </header>
        <h1>Test vocacional/h1>
        <form action='/responses' method='POST'>
            <input type='hidden' name='survey_id' value='<%=@survey.id%>' required >  

            <ul>
                <%@questions.each do |question|%>
                    <li><%=question.description %></li>
                    <div class="botones">
                    <td>
                        <%question.choices.each do |choice|%>
                            <input type='radio' name='<%=question.id%>' value='<%=choice.id%>' required > <%=choice.text%> 
                            <br/>
                        <%end%>

                        <input type='hidden' name='question_id[]' value='<%=question.id%>' required >
                    </td>   
                </div>
                <%end%>
            </ul>
            <button type='submit'>Enviar</button>
        </form>
    </body>
</html>