<!DOCTYPE html>
<html>
    <head>
        <title>Vocational test</title>
    </head>

    <body>
        <h1>Vocational test</h1>
        <form action='/responses' method='POST'>
            <input type='hidden' name='survey_id' value='<%=@survey.id%>'>

            <ul>
                <%@questions.each do |question|%>
                    <li><%=question.description %></li>
                    
                    <td>
                        <%question.choices.each do |choice|%>
                            <input type='radio' name='<%=question.id%>' value='<%=choice.id%>'> <%=choice.text%> 
                            <br/>
                        <%end%>

                        <input type='hidden' name='question_id[]' value='<%=question.id%>'>
                    </td>   
                
                <%end%>
            </ul>
            <button type='submit'>Enviar</button>
        </form>
    </body>
</html>