<!DOCTYPE html>
    <html>
        <head>
            <script src="https://kit.fontawesome.com/d1b528746c.js" crossorigin="anonymous"></script>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href = "result_query.css" rel = "stylesheet" type ="text/css">
            <title>Test vocacional - Consulta</title>
        </head>
        <div class="navegador">
            <ul>
                <li><a href="Main" style="text-decoration:none"><i class="fas fa-home"></i> Menu principal</a></li>
                <li><a href="careers" style="text-decoration:none"><i class="fas fa-clipboard-list"></i>  Menu carreras</a></li>
            </ul>
        </div>
        <div class="images">
            <% images = {
                "Economia" => "https://laopinion.de/wp-content/uploads/2019/02/Ishbel-Flores-002-820x394.jpg",
                "Agronomia" => "https://agriculturers.com/wp-content/uploads/2020/04/Agronomia-llama-a-producir-alimentos-en-casa-1000x500.jpg",
                "Arquitectura" => "https://encolombia.com/wp-content/uploads/2012/12/Carrera-Arquitectura-Educacion.jpg",
                "Computacion" => "https://www.itsitio.com/wp-content/uploads/2019/10/5d9e0475cef912c94360276a-780x405.jpg",
                "Filosofia" => "https://www.escogetucarrera.com/wp-content/uploads/2020/09/Carrera-de-filosofia.jpg",
                "Arte" => "https://kaikucaffelatte.com/blog/wp-content/uploads/2020/09/dia-mundial-artista-plastico.jpg",
                "Educacion Fisica" => "https://cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/GNY74J6RMBDZBJME6BK6PWLCPE.jpg",
                "Fisica" => "https://okdiario.com/img/2017/03/01/fisica-655x368.jpg",
                "Geologia" =>"https://presslatam.cl/wp-content/uploads/2020/11/unnamed-5-1024x684.jpg",
                "Historia" => "https://micarrerauniversitaria.com/wp-content/uploads/2018/03/carrera-de-historia-2.jpg",
                "Literatura" =>"https://www.ecoparquedetrasmiera.com/wp-content/uploads/2020/12/test-libros1.jpg",
                "Matematicas" => "https://factorcapitalhumano.com/wp-content/uploads/2020/06/estudiar-matematicas-definicion-eleccion-carrera.jpg",
                "Medicina" => "https://www.cursosycarreras.com.mx/orientacion/wp-content/uploads/2021/02/carerra-de-medicina.jpg",
                "Periodismo" => "https://guiauniversitaria.mx/wp-content/uploads/2018/12/mitos-sobre-el-periodismo.jpg",
                "Quimica" => "https://unibecarios.mx/blog/wp-content/uploads/2018/02/shutterstock.jpg",
                "Sociologia" =>"https://www.buscouniversidad.com.ar/orientacion/wp-content/uploads/2016/02/carrera-de-sociolog%C3%ADa.jpg",
                "Veterinaria" =>"https://cdn.euroinnova.edu.es/img/subidasEditor/fotolia_39639815_subscription_monthly_m-1611921719.webp"
            }%>
        <body>
            <h2>Segun la informacion proporcionada:<h2>
            <h2>La cantidad de encuestas que dieron como resultado la carrera<h2>
            <h1><%=@carrera%><h3>
            <%if @count == 0 %>
                <h1>entre <%=@start_date%>  y <%=@finish_date%> fueron: <%=@count%> <br> <i class="far fa-sad-tear"></i> <h1>
            <%else%>
                <h3>entre <%=@start_date%>  y <%=@finish_date%> fueron: <%=@count%> <br> <i class="far fa-smile-wink"></i></h3>
                <%end%>
            <br> 
            <img src=<%=images[@carrera]%>>
        </body>
        <footer>
                <img src="images/logoUNRC.ico">

                <div class="rights"><h4>Test vocacional office, Avenida Siempreviva 742, Springfield, Estados Unidos. </h4>

                <p>&copy Copyright 2021 test vocacional | Todos los derechos reservados. </p> </div>

                <h3>Contactos:</h3>
                    <h5><ul>
                            <li> 
                            Nicolas Ortiz: nicortiz1234@gmail.com
                            </li>
                            <li>  
                            Joaquin Moran: joacomoran6@gmail.com
                            </li>
                            <li>  
                            Agustin Giungi: agustingiungi98@gmail.com
                            </li>
                        </ul> 
                    </h5>                                    
        </footer>

</html>